 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><b>SECTOR</b>SCAPE</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Free Sign Up", new_user_registration_path %></li>
                  <li><%= link_to "Log In", new_user_session_path %></li>
                  <li><%= link_to "About", about_path %></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

<h1>In development, check back soon</h1>
<p>Sectorscape makes researching startups easy. What if you never had to manually collect company information again? Now you don't! Using Sectorscape you can simple organize the data by searching a company name, adding it to a list, and then analyzing all the associated data points that are linked.</p>

 	</div>
   </div>